<h1 class="main_title">Таблица</h1>

<div class="table_wrap">
  <table class="table">
    <tr>
      <th class="left">#</th>
      <th class="left">Название</th>
      <th *ngFor="let item of table; let i = index">{{i + 1}}</th>
      <th>И</th>
      <th>В</th>
      <th>Н</th>
      <th>П</th>
      <th>ЗМ</th>
      <th>ПМ</th>
      <th>О</th>
    </tr>
    <tr *ngFor="let team1 of table; let i = index">
      <td class="left">{{i + 1}}</td>
      <td class="left">{{team1.name}}</td>
      <td *ngFor="let team2 of table; let j = index">
        {{gameData(team1.name, team2.name)}}
      </td>
      <td>{{team1.w + team1.d + team1.l}}</td>
      <td>{{team1.w}}</td>
      <td>{{team1.d}}</td>
      <td>{{team1.l}}</td>
      <td>{{team1.gf}}</td>
      <td>{{team1.ga}}</td>
      <td>{{team1.p}}</td>
    </tr>
  </table>
</div>