<h1 class="main_title">Таблица:</h1>
<div class="table_wrap">
  <table class="table">
    <tr>
      <th></th>
      <th class="left-text">Название</th>
      <th *ngFor="let item of table; let i = index">{{ i + 1 }}</th>
      <th>И</th>
      <th>В</th>
      <th>Н</th>
      <th>П</th>
      <th>Г</th>
      <th>О</th>
    </tr>
    <tr *ngFor="let team1 of table; let i = index">
      <td class="left-text text-bold"><span class="score">{{ i + 1 }}</span></td>
      <td class="left-text text-bold border-right">{{ team1.name }}</td>
      <td *ngFor="let team2 of table" class="border-right">
        <app-table-cell
          [match]="gameData(team1.name, team2.name)"
          [same]="team1.name === team2.name"
        ></app-table-cell>
      </td>
      <td><span class="score">{{ team1.w + team1.d + team1.l }}</span></td>
      <td><span class="score green-text">{{ team1.w }}</span></td>
      <td><span class="score yellow-text text-darken-3">{{ team1.d }}</span></td>
      <td><span class="score red-text">{{ team1.l }}</span></td>
      <td><span class="score">{{ team1.gf }}:{{ team1.ga }}</span></td>
      <td><span class="score text-bold">{{ team1.p }}</span></td>
    </tr>
  </table>
</div>

<h1 class="main_title">Голы:</h1>
<div class="table_wrap small">
  <table class="table">
    <tr>
      <th></th>
      <th class="left-text">Команда</th>
      <th class="left-text">Игрок</th>
      <th>Голов</th>
    </tr>
    <tr *ngFor="let player of playersGoals | orderBy: 'count' : true; let i = index">
      <td class="left-text"><span class="score">{{ i + 1 }}</span></td>
      <td class="left-text">{{ player.teamName }}</td>
      <td class="left-text">{{ player.playerName }}</td>
      <td style="padding: 10px 0">{{ player.count }}</td>
    </tr>
  </table>
</div>
